@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
}
body{
    font-family: 'Dancing Script', cursive;
}

.container{
    max-width: 1170px;
    margin: 0 auto
}
.header{
    text-align: center;
    width: 100%;
    background-color: cadetblue;
    padding: 15px 0;
    color: white;
}
section{
    padding: 20px 0px;
}
section .todo_list-items{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
section .todo_list-items li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px black solid;
    border-radius: 10px;
    padding: 5px 10px;
}
section .todo_list-items input{
    margin-right: 15px;
}
section .todo_list-items li button{
    font-size: 20px;
    border: none;
    background: none;
    margin-left: 10px;
    outline: none;
    color: inherit;
} 
section .todo_list-items li.done{
    text-decoration: line-through;
    color: red;
    border-color: red;
}
.addtodo-form{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.addtodo-form input{
    border: 1px black solid;
    border-radius: 10px;
    padding: 5px 10px;
    outline: none;
    margin-right: 5px;
}
.addtodo-form button{
    background-color: #43d18e;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.column{
    display: flex;
    flex-direction: column;
}